.filter-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    color: #eee;
}
  
.filter-options input[type="radio"] {
    margin-right: 6px;
    accent-color: #a3c29e; /* earthy green */
}
  
.subscription-list {
    margin:auto;
    gap: 20px;
}

.subscription-list strong {
    background-color: rgb(179, 108, 15);
    color: black;
    padding: 10px;
}
  
.subscription-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px 30px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    margin-bottom: 10px;
    height: 50px;
}
  
.subscription-item:hover {
    transform: translateY(-2px);
}
  
.subscription-item img {
    width: 3rem;
    height: 3rem;
    border-radius: 4px;
}
  
.subscription-button {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 80%;
}

.subscription-name-icon {
    display: flex;
    gap: 30px;
    align-items: center;
}
.subscription-button.active {
    background-color: #3b7d3b;
}
  
.subscription-button.cancelled {
    background-color: #a4443f;
}  