.filters {
    gap: 10px;
    margin-bottom: 20px;
}
  
.filter-button {
    padding: 8px 14px;
    border: 1px solid #aaa;
    background-color: #eee;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
}
  
.filter-button.selected {
    background-color: #4b4b4b;
    color: white;
    border-color: #4b4b4b;
}
  
.subscription-list {
    margin:auto;
    gap: 20px;
}
  
.subscription-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px 30px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: row;
}
  
.subscription-item:hover {
    transform: translateY(-2px);
}
  
.subscription-item img {
    width: 30%;
    height: auto;
    border-radius: 4px;
    margin-top: 10px;
}
  
.subscription-button {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}
  
.subscription-button.active {
    background-color: #3b7d3b;
}
  
.subscription-button.cancelled {
    background-color: #a4443f;
}  