.details-container {
    background-color: #11165a;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    max-width: 800px;
    margin: auto;
}
  
.details-container h1 {
    margin-bottom: 10px;
    color: #c7c7c7;
}
  
.details-container ul {
    padding-left: 20px;
    margin-top: 10px;
}
  
.details-container li {
    margin-bottom: 5px;
}
  
.back-link {
    display: inline-block;
    margin-bottom: 20px;
    background-color: #cfcbcb;
    text-decoration: none;
}
  
.back-link:hover {
    text-decoration: underline;
}
  
  