.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start;
  align-content: center;
  text-align: center;  
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
}
