.app-container {
  display: flex;
  flex-direction: column;
  text-align: center;  
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
}

.app-container header {
  background-color: #3b7d3b;
}
